
body {
    margin:0; /* Убираем отступы */
    background-color:#181717;
    font-family: 'Inder', sans-serif;
    font-size: 22px; /* Размер шрифта */
    line-height: 1.6;
    color:#F80059;/* Цвет текста */
}


*,
*:after,
*:before{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin:0
}

hr{
    border: 0;
    background-color: #0b0b0b;
    display: block;
    height: 1px;
    margin: 40px 0;
    width: 100%;
}

/*Container*/
.container{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    position: relative;
}
.inner{
    width: 100%;
    max-width: 750px;
    margin:0 auto;
    position:absolute;
    margin-top: 90px;

}
.header{
    background-color:#222222;
    position: absolute;
    width: 100%;

    z-index: 1000;
    top:0;
    left:0;

}
.header__logo{
    color:#F80059;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
}

.header__inner{
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.header__inner p{
    padding-right: 30px;
}

.nav{
    font-size:14px;
    text-transform: uppercase;
}

.nav__link{
    color:#828282;
    font-size: 22px;
    text-decoration: none;
    display:inline-block;
    vertical-align: top;
    position: relative;
    margin:0 80px;
    transition: color 0.2s linear ;/*Линейная функция, анимация происходит равномерно на протяжении всего времени, без колебаний в скорости.*/
}

.nav__link:after{
    content:"";
    opacity: 0;
    width: 100%;
    height: 3px;
    background-color: #F80059;
    position: absolute;
    z-index: 1;
    top:100%;
    transition: opacity 0.2s linear;
    left:0;
}
.nav__link:hover{
    color:#F80059

}

.main__menu{
    height:60px;
}
.nav__link.active{
    color:#F80059

}
.nav__link:hover:after,.nav__link.active:after{
    opacity:1;
}
.header_calories{
    width: 100%;
    display:flex;
    background-color: #222222;
    height: 120px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
}

.header__data{
    color: #D9D9D9;
}
.main_titles{
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: #828282;
    height: 85px;
    margin-bottom: 5px;
}
.two_layers{
    width: 470px;
}

.icon_calculate{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.mealtime{
    font-size: 36px;
    font-weight: 400;
}

.sum_cals_mealtime p{
    width:127px;
    padding-right: 30px;

}
.add_new_item{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 70px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px 5px rgba(248,0,89,0.3);
    position: relative;
}
.add__item{
    width: 120px;
}

.icon_add{
    width: 120px;
}

.wrapper-bar{
    margin: 20px 30px 20px 90px;
    position: relative;
    padding-bottom: 50px;
}

.min-menu {
    width: 100%;
    background-color: #222222;
    visibility: hidden;
    position: absolute;
    top: 70px;
    right: 0;

}

.links-min {


    border:1px solid #828282;
    height: 100%;
    background-color:#222222;
    overflow-y: scroll;
}
.links-min::-webkit-scrollbar {
    width: 15px;
    background-color: #222222;
}

.links-min::-webkit-scrollbar-thumb {
    background-color: #2d2d2d;
}

.links-min::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    background-color: #2d2d2d;
}

.link-min {
    padding-left: 10px;
}

.link-min p{
    color:#FFFFFF;
    font-size: 16px;
    margin:5px;
}

.btn-add{
    cursor: pointer;
}

.show {
    visibility: visible;
}

.delete {
    visibility: hidden;
}

.calories-data{
    display:flex;
    justify-content:space-around;
    height: 30px;

}

.calories-data p{
    color:#D9D9D9;
    opacity: 50%;

}

.check-icon{
    opacity:50%;
    margin: 10px;
}

.active{
    opacity: 100%;
}

.btn{
    position:absolute;
    bottom: 0;
    right:0;
}

.btn-add-menu{

    background-color: #F80059;
    border:none;
    color:#FFFFFF;
    font-size: 16px;
    font-family:  'Inder', sans-serif;
    padding:10px 35px 10px 35px;
}


form {
    position: relative;
    margin: 10px auto;
}
input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    outline: none;
    border:1px solid #828282;
    background: #383838;
    color:#D9D9D9;
}
.submit-bar{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 42px;
    border: none;
    background:#F80059;
    cursor: pointer;
    color: #FFFFFF;

    font-size: 16px;
    font-family:  'Inder', sans-serif;
}
